<h1>Editing Book</h2>
<%= render "layouts/error_messages", model: @book %>
<% provide(:submit_btn, "Update Book") # books/formで送信ボタンに使用する文字列 %>
<%= render "books/form" %>

<%= link_to "Show", book_path(@book.id) %>
<%= link_to "Back", books_path %>