<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
        <td><ahref="#">Show</a></td>
        <td><a href="#">Edit</a></td>
        <td><a href="#">Destroy</a></td>
      </tr>
    <% end %>
 </tbody>
</table>